<h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tbody><tr></tr>
  <tr>
	  <th>name</th>
	  <th>user.id</th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th>Hello!!</th>
  </tr>
</tbody>
</table>